@font-face {
    font-family: stuarte-font;
    src: url("../assets/porter_sans_block/porter-sans-inline-block.ttf");
}

#stuarte {
    font-family: stuarte-font;
}

.card {
    margin-left: 15%;
    margin-right: 15%;
}

#card {
    background-color: #b100a8;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#card-header {
    background-color: #d38f33;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
#card-header-tabs {
    border-bottom-color: none;
    color: chartreuse;
}

.nav-item {
    color: black;

}

.nav-link active {
    background-color: #b100a8;
}

.nav-item:hover {
    background-color: #b100a8;
}

.nav-link.active {
    background-color: #b100a8;
    color: #d38f33;
}*/

.biography-container div {
    margin-bottom: 3%;
}

.d-flex {
    background-color: black;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 3%;
    margin-right: 3%;

}

.foto-perfiles-der {
    width: 150px;
    height: 150px;
    border-radius: 100% 100% 100% 0%;
}

.der-h4 {
    color: #b100a8;
}

.izq-h4 {
    color: #d38f33;
}

.foto-perfiles-izq {
    width: 150px;
    height: 150px;
    border-radius: 100% 0% 100% 100%;
}

.h1,
h3 {
    text-align: center;
}

.h5 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}