@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.75));
    font-family: 'Poppins', sans-serif;
}

#nav-fixed{
    position: fixed;
    width:100%;
}

/*#div-nav {
margin-left: 1%;
margin-right: 1%;
/*width: 100%;

justify-content: left;
text-align: left;
height: 72px;
}*/
#div-nav {
    top: 50%;
}

.icono-nav {
    display:block;
    text-align: center;
    justify-content: center;
    color:white;
}

#div-coll {
    background-image: linear-gradient(to bottom, rgba(13,10,175,0), rgba(13,10,175,1));
    z-index:2;
    justify-content: center;
}

.dropdown-menu {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(13,10,175,0.6),rgba(255,255,255,0.3));
    z-index:1;
    border-radius: 0;
    border: 0;
    margin-top: 10px;
    justify-content: center;
}

.dropdown-item {
    color: white;
    opacity: 1;
    color: white;
    font-size: 17px;
    text-align: left;
}

#pp {
    opacity: 1;
}

.navbar {
    background: linear-gradient(to right, rgba(177, 0, 168,1), rgba(211, 143, 51,1), rgba(13, 10, 175,1));
    height: 72px;
    color:white;    
}

.nav.link:hover, a.nav-link:hover{
    color: white;
    cursor: url("../assets/iconamoon--enter-duotone.png"),auto;
}

a.nav-link:focus {
    border-bottom: 2px solid white;
    color: white;
}

.nav-link {
    font-size: 13px;
    color:white;
}

.img-icon{
    height: 20px;
    justify-content: left;
}

#icono-logo {
    height: 52px;
}

.navbar-collapse {
    text-align: left;
   justify-content: left;
   border: 0;
}

.nav-item {
    color: white;
    height: 72px;
    padding-top: 5px;
}

nav,a,li,ul {
    color:white;
}

.navbar-nav {
    justify-content: space-between;
    width: 100%;
    height: 72px;
}

#btn-menu {
    background-repeat: no-repeat;
    text-align: left;
    justify-content: left;
}

nav {
    z-index: 5;
}


.navbar-brand {
    text-align: left;
    justify-content: left;
    position: fixed;
}

.navbar-toggler{
  width: auto;
  margin-left: 0px;
}

@media (max-width:992px) {
    .nav-item{
        text-align: left;
        justify-content: left;
    }
    .navbar-nav {
        text-align: left;
        padding-right: 25px;
        justify-content: left;
    }
    .icono-nav{
        text-align: left;
        justify-content: left;
    }
    .nav-link{
        text-align: left;
        justify-content: left;
        padding-left: 15px;
    }

    .navbar-collapse{
        height: 480px;
        background-color: rgba(0, 0, 0, 0.9);
    }

    /*.navbar{
        display: block;
    }

    .container-fluid{
        width: 240px;
    }*/

    #div-nav{
        margin-left: 5%;
    }

    .nav-link:hover,
    a.nav-link:hover{
        color: white;
        cursor: url("../assets/iconamoon--enter-duotone.png"), auto;
    }
}

/*talento mexa*/

.home{
	margin-right: 8%;
	margin-left: 8%;

}
.home .carousel-item{
	height:85vh;
	background-size:cover;
	background-position: center;
	position: relative;
	z-index: 1;
}

.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(230, 230, 230, 0.7);
	z-index: -1;
}

.home .carousel-item .container{
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align: center;
}


h1{
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
.home .carousel-item h2{
	font-family: 'Poppins', sans-serif;
	font-size: 75px;
	color: #0c0c0c;
	margin:0 0 10px;
	opacity: 0;
}

.home .carousel-item .alias{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	color: #0c0c0c;
	margin:0 0 10px;
	opacity: 0;
	text-align: center;
}

.home .carousel-item p{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	margin: 0 80px 0 80px;
	color: #000000;
	opacity:0;
	text-align: justify;
}
.home .carousel-item.active h2{
	animation: fadeInLeft 0.10s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInRight 0.10s ease forwards;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls{
	position: absolute;
	left: 50%;
	bottom: 40px;
	z-index: 10;
	transform: translateX(-50%);
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 100px;
	width: 100px;
	margin:0 5px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	border:3px solid transparent;
	transition: all 0.10s ease;
}
.home .carousel-indicators li.active{
	border-color: #F637EC;
	transform: scale(1);
}

.home .carousel-control-next, 
.home .carousel-control-prev{
	height: 30px;
	width: 30px;
	opacity: 2.8;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	transition: all 0.10s ease;
}

img .flecha{
	width: 100px;
}

.home .carousel-control-next:hover, 
.home .carousel-control-prev:hover{
   box-shadow: 0 0 10px #F637EC;
}
.home .carousel-control-next img, 
.home .carousel-control-prev img{
   width: 30px;
}
.home .carousel-control-next{
	right: -90px;
}
.home .carousel-control-prev{
	left: -90px;
}

/*responsive*/
@media(max-width: 997px){
	.home .carousel-control-next, 
	.home .carousel-control-prev{
		display: none;
	}

	.home .carousel-indicators li.active{
		border-color: #F637EC;
		transform: scale(1);
	}

	.home .carousel-indicators li{
		height: 45px;
		width: 45px;
	}
	.home .carousel-item h2{
		font-size: 2em;
	}
	.home .carousel-item .alias{
	  font-size: 1.2em;
	  text-align: center;
  } 
	.home .carousel-item p{
		font-size: 1em;
		text-align: justify;
	}
	.home .carousel-item{
		height:55vh;
		background-size:cover;
		background-position: center;
		position: relative;
		z-index: 1;
	}
  }
  

@media(max-width: 767px){
  .home .carousel-control-next, 
  .home .carousel-control-prev{
  	display: none;
  }

  .home .carousel-indicators li.active{
	border-color: #F637EC;
	transform: scale(.9);
}
  .home .carousel-indicators li{
  	height: 40px;
  	width: 40px;
  }
  .home .carousel-item h2{
  	font-size: 2em;
  }
  .home .carousel-item .alias{
	font-size: 1.5em;
	text-align: center;
} 
  .home .carousel-item p{
  	font-size: .6em;
   text-align: justify;
  }
  .home .carousel-item{
	height:100vh;
	background-size:cover;
	background-position: center;
	position: relative;
	z-index: 1;
}
}

@media(max-width: 550px){
	.home .carousel-control-next, 
	.home .carousel-control-prev{
		display: none;
	}
  
	.home .carousel-indicators li.active{
	  border-color: #F637EC;
	  transform: scale(.8);
  }
	.home .carousel-indicators li{
		height: 40px;
		width: 40px;
	}
	.home .carousel-item h2{
		font-size: 1em;
	}
	.home .carousel-item .alias{
	  font-size: 1em;
	  text-align: center;
  } 
	.home .carousel-item p{
		margin-left: 20px;
		margin-right: 20px;
		font-size: .6em;
		text-align: justify;
	}
	.home .carousel-item{
		height:70vh;
		background-size:cover;
		background-position: center;
		position: relative;
		z-index: 1;
	}

  }



/*footer*/

h1{color:white}

footer{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
#footerDescription{
    font-size: 80%;
}
#footerTC{
    font-size: 80%;
}
#footerHome{
    font-size: 80%;
}
#footerEmail{
    font-size: 80%;
}
#footerPhone{
    font-size: 80%;
}
#footerCopyright{
    font-size: 50%;
}

#active-page {
  border-bottom: 2px solid white;
  color: white;
}

.numerito {
	background-color: white;
	color: #4b33a8;
	padding: .15rem .25rem;
	border-radius: .25rem;
  }