@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75));
}

#nav-fixed {
  position: fixed;
  width: 100%;
}

#div-nav {
  top: 50%;
}

.icono-nav {
  display: block;
  text-align: center;
  justify-content: center;
  color: white;
}

#div-coll {
  background-image: linear-gradient(to bottom, rgba(13, 10, 175, 0), rgba(13, 10, 175, 1));
  z-index: 2;
  justify-content: center;
}

.dropdown-menu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(13, 10, 175, 0.6), rgba(255, 255, 255, 0.3));
  z-index: 1;
  border-radius: 0;
  border: 0;
  margin-top: 10px;
  justify-content: center;
}

.dropdown-item {
  color: white;
  opacity: 1;
  color: white;
  font-size: 17px;
  text-align: center;
}

#pp {
  opacity: 1;
}

.navbar {
  background: linear-gradient(to right, rgba(177, 0, 168, 1), rgba(211, 143, 51, 1), rgba(13, 10, 175, 1));
  height: 72px;
  color: white;
}

.nav.link:hover,
a.nav-link:hover {
  color: white;
  cursor: url("../assets/iconamoon--enter-duotone.png"), auto;
}

a.nav-link:focus {
  border-bottom: 2px solid white;
  color: white;
}

.nav-link {
  font-size: 13px;
  color: white;
}

.img-icon {
  height: 20px;
  justify-content: left;
}

#icono-logo {
  height: 52px;
}

.navbar-collapse {
  text-align: left;
  justify-content: left;
  border: 0;
}

.nav-item {
  color: white;
  height: 72px;
  padding-top: 5px;
}

nav,
a,
li,
ul {
  color: white;
}

.navbar-nav {
  justify-content: space-between;
  width: 100%;
  height: 72px;
}

#btn-menu {
  background-repeat: no-repeat;
  text-align: left;
  justify-content: left;
}

nav {
  z-index: 5;
}

.navbar-brand {
  text-align: left;
  justify-content: left;
  position: fixed;
}

.navbar-toggler {
  width: auto;
  margin-left: 0px;
}

@media (max-width:992px) {
  .nav-item {
    text-align: left;
    justify-content: left;
  }

  .navbar-nav {
    text-align: left;
    padding-right: 25px;
    justify-content: left;
  }

  .icono-nav {
    text-align: left;
    justify-content: left;
  }

  .nav-link {
    text-align: left;
    justify-content: left;
    padding-left: 15px;
  }

  .navbar-collapse {
    height: 480px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .navbar {
    display: block;
  }

  .container-fluid {
    width: 240px;
  }

  #div-nav {
    margin-left: 5%;
  }

  .nav-link:hover,
  a.nav-link:hover {
    color: white;
    cursor: url("../assets/iconamoon--enter-duotone-2.png"), auto;
  }

}


h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  /* margin: 50px;    */
  text-align: center;
  width: 90%;

}

h3 {
  color: black;
}

#telefonoError {
  color: red;
}

#correoError {
  color: red;

}

#codigoPostalError {
  color: red;

}

#estadoError {
  color: red;

}

#direccionError {
  color: red;
}

#noExteriorError {
  color: red;
}

.formularioInfo {
  color: white;
}

#carrito-vacio {
  color: white;
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  text-align: center;
}

#nameError {
  color: red;
}

#coloniaError {
  color: red;
}

.subtitle-form {
  color: white;
}


/* ********************CARRITO************************* */

.carrito-producto-imagen {
  /* width: 100rem; */
  margin-left: 5%;
}

.numerito {
  background-color: white;
  color: #4b33a8;
  padding: .15rem .25rem;
  border-radius: .25rem;
}

.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
  color: white;
}


main {
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* color: var(--clr-main); */
  padding: .5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  color: black;
  border-bottom: 0.5cap solid rgba(211, 143, 51, 1);

}

.carrito-producto-imagen {
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: .75rem;
}

/* .carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
} */

.carrito-acciones {
  display: flex;
  justify-content: space-between;
  color: white;
}

.carrito-acciones-vaciar{
  position: relative;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  transition: all 0.6s ease;
  border-radius: 10px;
  z-index: 2;
}

.carrito-acciones-vaciar{
  border: 3px solid #3330E4;
  overflow: hidden;
}

.carrito-acciones-vaciar::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color:#FF0000;
  z-index: -2;
}

.carrito-acciones-vaciar::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0;
  bottom: -150%;
  border-radius: 30%;
  background-color: #3330E4;
  z-index: -1;
}

.carrito-acciones-vaciar:hover::before{
 animation: btn-6 1.2s linear both;
}

@keyframes btn-6 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      bottom: 100px;
      transform: rotate(360deg);
  }
}



/*.carrito-acciones-vaciar {
  font-family: "Poppins", sans-serif;
  ;
  border: 0;
  background-color: #B100A8;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;

  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.carrito-acciones-vaciar:hover {
  background-color: #9d45bc;
  border-color: #5a33a7;
}*/

.carrito-acciones-derecha {
  display: flex;
}

.carrito-acciones-total {
  display: flex;
  /* background-color: #9d45bc;
    padding: 0.5rem; */
  color: white;
  /* text-transform: uppercase; */
  text-align: center;
  /* align-items: center;  */
  /* justify-content: center; */
  /* border-bottom: 0.1cap solid rgba(211, 143, 51,1); */
  padding: 0.2rem;
  padding-right: 1.5rem;
  border-radius: 1.5rem;
  /* text-align: bottom; */
  /* border-radius: 1rem; */
  /* gap: 1rem; */
}

/* .carrito-acciones-comprar {
    border: 0;
    background-color: #9d45bc;
    padding: 0.5rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius:0.5rem ;
    margin-left: 70%;
    font-family: "Poppins", sans-serif;
}

.carrito-acciones-comprar:hover {
  background-color: #5a33a7;
  border-color: #5a33a7;

} */

/*#btn-continuar {
  border: 0;
  background-color: #B100A8;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-left: 60%;
  font-family: "Poppins", sans-serif;
  width: 250px;
}*/

.btn-primary{
  position: relative;
  padding: 8px 8px;
  text-decoration: none;
  color: #fff;
  transition: all 0.6s ease;
  z-index: 2;
}

.btn-primary{
  border: 3px solid #3330E4;
  overflow: hidden;
}

.btn-primary::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color:#F637EC;
  z-index: -2;
}

.btn-primary::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0;
  bottom: -150%;
  border-radius: 30%;
  background-color: #3330E4;
  z-index: -1;
}

.btn-primary:hover::before{
 animation: btn-5 1.2s linear both;
}

@keyframes btn-5 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      bottom: 100px;
      transform: rotate(360deg);
  }
}

.disabled {
  display: none;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
  .contenedor-productos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 675px) {
  .contenedor-productos {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {

  main {
    margin: 1rem;
    margin-top: 0;
    padding: 2rem;
  }

  .contenedor-productos {
    grid-template-columns: 1fr 1fr;
  }

  .carrito-producto {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: .5rem;
  }

  .carrito-producto-subtotal {
    display: none;
  }

  .carrito-acciones {
    flex-wrap: wrap;
    row-gap: 1rem;
  }


}

.input-error {
  border: 5px solid #d38f33;
}

/* ******************termina carrito******* */

/* ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 2em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: left;
  } */

/* input,
  textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999; 
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }
   */
/* .button {
    padding-left: 90px;
  }
  
  button {

    margin-left: 0.5em;
  } */
#info-envio {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

}

#contenido-formulario {
  padding: 30px;
}

#border-form {
  border: 2px solid white;
  border-radius: 1em;
  /*padding: 20px;*/
  width: 90%;

}

/*
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  float: left;
  width: 20%;
  padding: 30px;
  font-size: 38px;
}
*/
#h3-direccion {
  margin-top: 15px;
}

label {
  font-family: "Poppins", sans-serif;
  color: white;
}

input {
  border-radius: 10px;
  padding: 20px;
  width: 100%;

}


.btn-primary {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #B100A8;
  border-radius: 10px;
  /* margin-top: 10px;
    margin-left: 410px;
    padding: 9px 15px; */
  width: 150px;
}

.btn-primary:hover {
  background-color: #B100A8;
  /* border-color: #5a33a7; */
}

span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;

}

/*#left h2 {
  padding-top: 30px;

}

#left {
  padding-top: 200px;
}*/

@media (max-width:992px) {
  #info-envio {
    width: 98%;
  }

  #form-compradores {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  #contenido-formulario {
    width: 95%;
    padding: 16px;
  }

  h3 {
    margin-top: 8px;
  }
}

footer {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#footerDescription {
  font-size: 80%;
}

#footerTC {
  font-size: 80%;
}

#footerHome {
  font-size: 80%;
}

#footerEmail {
  font-size: 80%;
}

#footerPhone {
  font-size: 80%;
}

#footerCopyright {
  font-size: 50%;
}