@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75));
}

/*#body {
    font-family: 'Poppins', sans-serif;
}*/

#nav-fixed {
  position: fixed;
  width: 100%;
}

/*#div-nav {
margin-left: 1%;
margin-right: 1%;
/*width: 100%;

justify-content: left;
text-align: left;
height: 72px;
}*/
#div-nav {
  top: 50%;
}

.icono-nav {
  display: block;
  text-align: center;
  justify-content: center;
  color: white;
}

#div-coll {
  background-image: linear-gradient(to bottom, rgba(13, 10, 175, 0), rgba(13, 10, 175, 1));
  z-index: 2;
  justify-content: center;
}

.dropdown-menu {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(13, 10, 175, 0.6), rgba(255, 255, 255, 0.3));
  z-index: 1;
  border-radius: 0;
  border: 0;
  margin-top: 10px;
  justify-content: center;
}

.dropdown-item {
  color: white;
  opacity: 1;
  color: white;
  font-size: 17px;
  text-align: left;
}

#pp {
  opacity: 1;
}

.navbar {
  background: linear-gradient(to right, rgba(177, 0, 168, 1), rgba(211, 143, 51, 1), rgba(13, 10, 175, 1));
  height: 72px;
  color: white;
}

.nav.link:hover,
a.nav-link:hover {
  color: white;
  cursor: url("../assets/iconamoon--enter-duotone.png"), auto;
}

a.nav-link:focus {
  border-bottom: 2px solid white;
  color: white;
}

.nav-link {
  font-size: 13px;
  color: white;
}

.img-icon {
  height: 20px;
  justify-content: left;
}

#icono-logo {
  height: 52px;
}

.navbar-collapse {
  text-align: left;
  justify-content: left;
  border: 0;
}

.nav-item {
  color: white;
  height: 72px;
  padding-top: 5px;
  /*background: linear-gradient(to right, rgba(177, 0, 168,1), rgba(211, 143, 51,1), rgba(13, 10, 175,1));*/
}

nav,
a,
li,
ul {
  color: white;
}

.navbar-nav {
  justify-content: space-between;
  width: 100%;
  height: 72px;
  /*background: linear-gradient(to right, rgba(177, 0, 168,1), rgba(211, 143, 51,1), rgba(13, 10, 175,1));*/
}

#btn-menu {
  background-repeat: no-repeat;
  text-align: left;
  justify-content: left;
}

nav {
  z-index: 5;
}


.navbar-brand {
  text-align: left;
  justify-content: left;
  position: fixed;
}

.navbar-toggler {
  width: auto;
  margin-left: 0px;
  margin-top: 10px;
}

@media (max-width:992px) {
  .nav-item {
    text-align: left;
    justify-content: left;
  }

  .navbar-nav {
    text-align: left;
    padding-right: 25px;
    justify-content: left;
  }

  .icono-nav {
    text-align: left;
    justify-content: left;
  }

  .nav-link {
    text-align: left;
    justify-content: left;
    padding-left: 15px;
  }

  .navbar {
    display: block;
  }

  .container-fluid {
    width: 240px;
  }

  #div-nav {
    margin-left: 5%;
  }

  .nav-link:hover,
  a.nav-link:hover {
    color: white;
    cursor: url("../assets/iconamoon--enter-duotone.png"), auto;
  }

  .navbar-collapse {
    height: 480px;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

h1 {
  color: white;
  font-style: normal;
  text-align: center;
}

/*ESTILOS FORMULARIO*/
#container-form {
  border: 2px solid white;
  border-radius: 1em;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
}

label {
  font-family: "Poppins", sans-serif;
  color: white;
  display: inline-block;
  width: 100%;
  text-align: left;
  font-weight: 300;
  font-style: normal;
}

input {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 10px;
}

input:focus,
textarea:focus {
  border-color: #000;
}


h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  float: left;
  width: 20%;
  padding: 30px;
  font-size: 38px;
}

.form-label {
  width: 100%;
  padding-top: 20px;
}

input[type=radio] {
  transform: scale(0.5);
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 10px;
  /* Espacio entre el radio button y el label */
}

#btn-guardar{
  position: relative;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 20px;
  padding: 9px 12px;
  text-decoration: none;
  color: #fff;
  transition: all 0.6s ease;
  z-index: 2;
}

#btn-guardar{
  border: 3px solid #3330E4;
  overflow: hidden;
}

#btn-guardar::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color:#F637EC;
  z-index: -2;
}

#btn-guardar::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  left: 0;
  bottom: -150%;
  border-radius: 30%;
  background-color: #3330E4;
  z-index: -1;
}

#btn-guardar:hover::before{
 animation: btn-5 1.2s linear both;
}

@keyframes btn-5 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      bottom: 100px;
      transform: rotate(360deg);
  }
}

/*button {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #B100A8;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 20px;
  padding: 9px 12px;
  width: 200px;
}

#btn-guardar {
  margin-left: 0px;
  padding: 12px;
}*/

@media (max-width:992px) {
  #container-form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}


span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;

}

footer {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

#footerDescription {
  font-size: 80%;
}

#footerTC {
  font-size: 80%;
}

#footerHome {
  font-size: 80%;
}

#footerEmail {
  font-size: 80%;
}

#footerPhone {
  font-size: 80%;
}

#footerCopyright {
  font-size: 50%;
}

#active-page {
  border-bottom: 2px solid white;
  color: white;
}

input:user-invalid,
textarea:user-invalid,
select:user-invalid {
  outline: 5px #d38f33 solid;
}

.numerito {
  background-color: white;
  color: #4b33a8;
  padding: .15rem .25rem;
  border-radius: .25rem;
}